<section class="cart_section">
  <ng-container *ngIf="getCartDetails.length == 0">
    <div class="container">

        <h5 style="margin-top: 20px">Giỏ hàng</h5>

      <div class="center">
        <img src="https://static.s123-cdn.com/uploads/1777715/800_5f278d10752de.jpg"  width="300" height="300" alt="">
        <h4>Giỏ hàng của bạn đang trống !</h4>

        <button routerLink="/" class="btn btn-primary" style="margin-bottom: 20px">Ghé thăm cửa hàng</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="getCartDetails.length > 0">
    <div class="container">
      <h5>Giỏ hàng</h5>
      <table class="table table-responsive w-100">
        <tr>
          <th class="col-lg-3">Tên sản phẩm</th>
          <th class="col-lg-2">Hình ảnh</th>
          <th class="col-lg-2">Giá</th>
          <th class="col-lg-2">Số lượng</th>
          <th class="col-lg-2">Thành tiền</th>
          <th>Xoá sản phẩm</th>

        </tr>
        <tr *ngFor="let item of getCartDetails">
          <td>{{item.name}}</td>
          <td style="height: 150px"><img src={{item.image}} alt="" style="width: 100%;height: 100%; "></td>
          <td>{{item.price | currency:'VND'}}</td>
          <td>
            <div class="content">
                <button type="button" class="btn" (click)="incQnt(item.id, item.quantity)"  ><i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <span>{{item.quantity}}</span>
              <button type="button" class="btn" (click)="decQnt(item.id, item.quantity)"><i class="fa fa-minus" aria-hidden="true"></i>
              </button>
            </div>
          </td>
          <td>{{item.price * item.quantity | currency:'VND'}}</td>
          <td><button (click)="DeleteItem(item.id)"  style="border: none; background-color: transparent; color: red"  type="button" class="delete"><i class="fa fa-times" aria-hidden="true"></i>
            </button></td>
        </tr>
      </table>
      <div style="margin-top: 10px" class="row">
        <div class="col-md-6">
          <h3>Tổng cộng : {{total | currency:'VND'}}</h3>
        </div>
        <div class="col-md-6 text-right">
          <a routerLink="/" style="margin-right: 5px; color: #FFFFFF" type="button" class="btn btn-primary">Quay lại cửa hàng</a>
          <a style=" color: #FFFFFF" type="button" class="btn btn-danger" (click)="removeAll()" >Xoá tất cả sản phẩm</a>
          <a  routerLink="/checkout" style="margin-left: 5px;color: #FFFFFF" type="button" class="btn btn-success">Thanh toán</a>
        </div>
      </div>
    </div>
  </ng-container>
</section>
