<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                  <li><a href="#"><i class="fa fa-phone " style="color: red"></i> 038-384-6220</a></li>
                <li><a href="#"><i class="fa fa-envelope-o" style="color: red"></i> 1800001884@nttu.edu.vn</a></li>
                <li><a href="#"><i class="fa fa-map-marker"  style="color: red"></i> Saigon, TpHcm</a></li>
            </ul>
            <ul class="header-links pull-right">

                <li><a routerLink="login"><i class="fa fa-user-o" style="color: red"></i> Đăng nhập</a></li>

            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>

                            <input class="input" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Mục yêu thích</span>

                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a routerLink="cart" style="cursor: pointer" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span >Giỏ hàng</span>
                                <div class="qty">{{cartItem}}</div>
                            </a>

                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a routerLink="product/category/dau" >Dầu bôi trơn - Dầu hộp số</a></li>
        <li class=""><a routerLink="product/category/phutung">Phụ tùng chính hãng</a></li>
        <li class=""><a routerLink="product/category/dungcu">Dụng cụ sửa chữa</a></li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- /HEADER -->

<!-- NAVIGATION -->

<!-- /NAVIGATION -->
